body {
    background: linear-gradient(to right, #0f9b0f, #000000);
    font-family: ui-sans-serif, system-ui, sans-serif;
    color: gray;
}


h1 {
    font-weight: bold;
    color: white;
    font-style: italic;
}

.web {
    color: rgb(16 185 129 / var(--tw-text-opacity, 1));
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-left: .25rem;
}



a {
    text-decoration: none;
    color: white;
}



.text-black {
    display: flex;
    color: black;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}



.w-10 {
    background-color: rgb(16 185 129);
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    margin: 0 auto;
    display: flex;
    height: 2.5rem;
    border-radius: .5rem;
}


nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    justify-items: center;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 1rem 1.5rem;
}


.group {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}


ul {
    display: flex;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    list-style: none;
    margin: 0;
    text-transform: uppercase;
    padding: 40px;
}



li {
    color: rgb(16 185 129);
}


main {
    text-align: center;
    margin: auto;
    padding: 1.5rem;
    max-width: 80rem;
}