@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideleft {
    from {
        opacity: 0;
        scale: 0%;
        transform: translatex(150px);
    }

    to {
        opacity: 1;
        scale: 100%;
        transform: translateY(0);
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scaleX(0);
    }

    to {
        opacity: 1;
        transform: scaleX(1);
    } }


body {
    background: radial-gradient(circle, #064e3b, #022c22, #000000);
    font-family: ui-sans-serif, system-ui, sans-serif;
    color: lightgrey;
    min-height: 1600px;
}


h1 {
    font-weight: bold;
    stroke: #000000;
    color: white;
    font-style: italic;
    animation:slideinfrombottom 2s ease-in;
}

.web {
    color: rgb(16 185 129);
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-left: .25rem;
}


p {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

button {
    background: radial-gradient(circle, #064e3b, #022c22, #000000);    padding:10px 20px;
    font-weight:500;
    border-radius:8px;
    max-width:200px;
}

button:hover {
  scale:1.2;
  transition: ease-in 0.3s;
}

.text-black {
    display: flex;
    color: black;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.w-10 {
    background-color: rgb(16 185 129);
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    display: flex;
    height: 2.5rem;
    border-radius: .5rem;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.container {
    view-timeline: --subject-reveal block;
        animation-timeline: --subject-reveal;
        animation-name: appear;
        animation-range: entry 20% entry 20%;
    }

.card {
    background: radial-gradient(circle, #064e3b, #022c22, #000000);
    padding: 20px 10px;
    justify-content: space-around;
    border-radius: 8px;
    box-shadow: 0px 1px 3px, #fff 0px 1px 2px;
    max-width: 300px;
    text-align: center;
}



nav {
    text-align: center;
    justify-content: left;
    justify-items: left;
    max-width: 80rem;
    padding-bottom:2rem;
}


.group {
    align-items: center;
    display: flex;
    justify-content: center;
}


ul {
    display: flex;
    font-size: .875rem;
    font-weight: 500;
    list-style: none;
    align-content: center;
    justify-content: center;
    margin: 0;
    text-transform: uppercase;
}

li {
    color: rgb(16 185 129);
}

li:hover {
    color: #0ac687b4;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    transition: ease-in 0.3s;
}

main {
    text-align: center;
    margin: auto;
    max-width: 80rem;
}

img {
    display: block;
    margin: auto;
}

h2 {
    color: transparent;
    line-height: 65px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    font-size: 2rem;
    background-clip: text;
    animation: slideInFromBottom 0.5s ease-out; 
    background-image: linear-gradient(to top, #3b82f6, #22c55e, #10b981);
    background-image: linear-gradient(to bottom, #fff, #10b981);

}