body {
    background: linear-gradient(to right, #0f9b0f, #000000);
    font-family:sans;
    color:gray;

}


h1 {
    font-weight:extra-bold;
    color:white;
    font-style:italic;

}

h1.span {
    color:emerald;
    font-weight:500;
    font-size:large;
}


nav {
    display:flex;
    text-align:center;
    justify-items: center;
    padding:2px;
    max-width:80rem;
    margin:auto;
    padding: 1rem 1.5rem;
}

ul {
    display:flex;
    font-size:medium;
    text-transform:uppercase;
    padding:8px;
}

li {

}


main {
    text-align:center;
}
h2 {

}